body {
  /* background: linear-gradient(to right, #f9bdc2, #9d72c8); */
  background: #d2dfed;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  min-width: 360px;
  justify-content: center;
}
.wrapper {
  width: 600px;
}

ul,
li {
  margin: 0;
  padding: 0;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.top-contents {
  padding: 24px;
  background: #46529d;
}
.top-title {
  margin: 0;
  color: #fff;
}
.top-contents .date {
  color: #fff;
}
.content {
  width: 100%;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
}
.insert {
  position: relative;
  height: 50px;
}
.insert input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}

.list-item {
  display: flex;
  position: relative;
  height: 50px;
  margin-top: 15px;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  align-items: center;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  width: 6px;
  height: 30px;
  background: #8793e0;
}

.list-item.active .text {
  opacity: 0.2;
  text-decoration: line-through;
}
/* .list-item .checked {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #eee;
} */
.list-item.active .checked {
  width: 20px;
  height: 20px;
  background-size: cover;
  background: url("./images/checkbox.png");
}

.list-item input#chk1 {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  text-indent: -999px;
}
.list-item .text {
  overflow: hidden;
  width: 76%;
  text-overflow: ellipsis;
  margin-left: 16px;
}

.list-item .box-update {
  width: 76%;
  height: 35px;
  border-bottom: 1px solid #888888;
}

.list-item .input-update {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.button {
  position: absolute;
  right: 14px;
}
.btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.btn.btn-ok {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-image: url("./images/circle.png");
}
.btn.btn-cancel {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("./images/cancel.png");
}
.btn.btn-modify {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-image: url("./images/edit.png");
}
.btn.btn-delete {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("./images/trash.png");
}
.btn.btn-add {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url("./images/enter.png");
}
.btn.btn-add:focus {
  outline: none;
}
